* {
    color-scheme: dark;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-emphasis: none;
}

.dosis-title {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}